* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;

}

main {
    height: 100%;
    width: 100%;
    background-color: rgb(2, 35, 35);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr;
    grid-template-areas: "header"
        "section1"
        "section2"
        "section3"
        "section4"
    ;

    header {
        height: 100%;
        width: 100%;
        grid-area: header;
        background-color: #FFFFFF;


        nav {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;

            .logo {
                height: 100%;
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .logo img {

                height: 30px;
                width: 120px;
                object-fit: cover;
                object-position: center;
            }

            .link {
                height: 100%;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    padding: 5px 30px;
                    text-decoration: none;
                    font-size: 16px;
                    color: #333;
                    font-weight: 400;
                }
            }

            .login {
                height: 100%;
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .login button {

                padding: 8px 25px;
                border-radius: 20px;
                text-align: center;
                background-color: #000;
                color: #fff;
            }

        }
    }

    #section1 {
        height: 100%;
        width: 100%;
        grid-area: section1;
        background-color: #FFFFFF;

        .full-div {
            height: 500px;
            width: 90%;
            margin: 12px 60px;
            background-image: url(https://i.pinimg.com/736x/67/fd/08/67fd080836cb1dc577024c7d574fdbcd.jpg);
            background-size: cover;
            border-radius: 20px;
            box-shadow: 0px 0px 10px black;


            .content {
                height: 300px;
                width: 300px;
                color: #FFFFFF;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h1 {
                    font-size: 40px;
                    text-align: center;
                    font-weight: 900;
                    padding-top: 30px;
                    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcTg0cXRxdjVkYXpwdDQxbmxsejV5bjYxejgzOGluaG04MWJsY2hiOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/REQjNzjlfR4mVE8WSR/giphy.gif');
                    background-size: cover;
                    /* ya contain */
                    background-position: center;

                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;

                }

                h3 {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    padding-top: 20px;
                }

                .btm-field .book {
                    margin-top: 30px;
                    padding: 12px 30px;
                    border-radius: 20px;
                    font-size: 16px;
                    border: none;
                    color: white;
                    background: #2986FF;
                }
            }


        }

        .social-link {
            height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 12px 40px;




            .icon {
                height: 100%;
                width: 50%;
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 20px;

                #insta {
                    color: #FE006A;
                }

                #facebook {
                    color: #0865FE;
                }

                #twitter {
                    color: #000000;
                }
            }

            .book-store {

                height: 100%;
                width: 50%;

                display: flex;
                align-items: center;
                gap: 60px;
            }

            a {
                text-decoration: none;
                font-size: 20px;
                color: #555;
            }
        }

    }

    #section2 {
        grid-area: section2;
        background-color: #FFFFFF;
        height: 100%;
        width: 100%;

        .destination-info {
            margin-top: 30px;
            height: 60px;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .info {
                height: 100%;
                width: 50%;

                h1 {
                    font-size: 30px;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                }
            }

            .logo {
                height: 100%;




                .ri-arrow-left-s-line {
                    font-size: 40px;
                    color: #444;
                }

                .ri-arrow-right-s-line {
                    font-size: 40px;
                    color: #444;
                }
            }
        }

        #card-list {
            margin-top: 20px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-evenly;

            gap: 20px;



            .card {
                height: 300px;
                width: 270px;

                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;

                img {
                    height: 250px;
                    width: 100%;
                    border-radius: 16px;
                    object-fit: cover;
                    object-position: center;
                    box-shadow: 0px 0px 10px black;
                }

                video {
                    height: 250px;
                    width: 100%;
                    border-radius: 16px;
                    object-fit: cover;
                    object-position: center;
                    box-shadow: 0px 0px 10px black;
                }

                .location {
                    height: 50px;
                    width: 90px;
                    display: flex;
                    gap: 1px;

                    p {
                        font-size: 16px;
                        font-weight: 600;

                    }

                    .ri-map-pin-2-line {
                        font-size: 16px;
                    }
                }
            }
        }
    }


    #section3 {
        grid-area: section3;

    }

    #section4 {
        grid-area: section4;

    }
}